/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	
--------------------------------------------------------*/


/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto;
}

.container {
	width: 1170px;
	margin: auto;
}
.container.tbp {
	padding: 80px 0px;
}

.container.tbp3 {
	float: left;
    width: 100%;
    padding: 75px 0px 80px 0px;
    background: #eee;
}

.container.tbp2 {
	padding: 80px 0px 30px 0px;
}

.content_fullwidth {
	float: left;
	width: 100%;
	padding: 70px 0px 80px 0px;
	background-color: #f3f3f3;
}
.content_fullwidth.less {
	padding: 0px 0px 80px 0px;
}

.content_fullwidth1 {
	float: left;
	width: 100%;
	padding: 70px 0px 80px 0px;
	background-color: #fff;
}
.content_fullwidth1.less {
	padding: 0px 0px 80px 0px;
}


.content_left {
	float: left;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 0px 0px 0px 0px;
}

.content_halfsite {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite.last {
	margin-right: 0;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}

.onecol_forty {
	width: 40%;
}

.onecol_sixty {
	width: 56%;
}

.onecol_thirtyfive {
	width: 35%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*---------------------------------------------------
	HEADER
------------------------------------------------------*/

/* Logo */
#trueHeader #logo{
	float:left;
	display:block;
	width:100%;
	min-height: 58px;
	margin-top:0px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo.png) no-repeat left top;
}

#topHeader #logo{
	float:left;
	display:block;
	width:100%;
	min-height: 90px;
	margin-top:0px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo2.png) no-repeat center top;
}

#topHeader #logo3{
	float:left;
	display:block;
	width:100%;
	min-height: 58px;
	margin-top:0px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo.png) no-repeat left top;
}

#trueHeader #logo4{
	float:left;
	display:block;
	width:100%;
	min-height: 50px;
	margin-top:16px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo4.png) no-repeat left top;
}


/* top navigation */
.top_nav {
	float: left;
	width: 100%;
	padding: 9px 0px;
	background: #fbb24a;
	/*border-bottom: 1px dashed #e9e9e9;*/
}

.top_nav .left {
	float: left;
	width: 30%;
}
.top_nav .right {
	float: left;
	width: 70%;
	color: #fff;
	font-size: 13px;
	text-align: right;
}
.top_nav .right strong {
	margin-right: 20px;
	font-weight: 600;
}
.top_nav .right a {
	color: #fff;
	font-weight: 600;
	transition: all 0.3s ease;
}
.top_nav .right a:hover {
	color: #1e1e1e;
}

.topsitesearch {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	float: right;
}
#topsitesearchform {
	margin: 0;
	padding: 0;
}
#topsitesearchform #s{
	width: 140px;
	height: 23px;
	border: 1px solid #d9d9d9;
	background-color: #f9f9f9;
	padding:0px 5px 0px 7px;
	color: #999;
	font-size: 12px;
	float: left;
}
#topsitesearchform #searchsubmit{
	float: right;
	width:23px;
	height:23px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #d9d9d9 url(../images/top-site-search-icon.png) no-repeat center 5px;
	border:0;
}
#topsitesearchform #searchsubmit:hover{
	background: #999 url(../images/top-site-search-icon.png) no-repeat center 5px;
}

.top_nav ul.topsocial {
	float: left;
	padding: 0px;
	margin: 0px;
}
.top_nav .topsocial li {
	float: left;
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.top_nav .topsocial li a {
	float: left;
	color: #8e8e8e;
	font-size: 12px;
	width: 23px;
	height: 23px;
	background: #fbfbfb;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
	transition: all 0.3s ease;
}
.top_nav .topsocial li a:hover {
	background: #fff;
}

.top_nav2 .left {
	float: left;
	width: 33%;
	color: #272727;
}
.top_nav2 .center {
	float: left;
	width: 34%;
}
.top_nav2 .right {
	float: left;
	width: 33%;
	color: #272727;
	text-align: right;
}
.top_nav2 .right p {
	float: right;
	margin-top: 20px;
	display: block;
}
.top_nav2 .right p strong {
	color: #d70204;
	font-size: 25px;
	font-weight: 600;
	display: block;
	margin-top: 3px;
}

.top_nav2 ul.topsocial {
	float: left;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.top_nav2 .topsocial li {
	float: left;
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.top_nav2 .topsocial li a {
	float: left;
	color: #8e8e8e;
	font-size: 12px;
	width: 23px;
	height: 23px;
	background: #f3f3f3;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
	transition: all 0.3s ease;
}
.top_nav2 .topsocial li a:hover {
	background: #f9f9f9;
}


.top_nav3 .left {
	float: left;
	width: 35%;
	color: #272727;
}
.top_nav3 .right {
	float: left;
	width: 65%;
	color: #1e1e1e;
	text-align: right;
	margin-top: -2px;
}
.top_nav3 .right p {
	float: right;
	margin-top: 10px;
}
.top_nav3 .right p strong {
	color: #d70204;
	font-size: 21px;
	font-weight: 600;
}

.top_nav3 .right .topsitesearch {
	margin: 0px 0px 0px 10px;
}

.top_nav3 ul.topsocial {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.top_nav3 .topsocial li {
	float: left;
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.top_nav3 .topsocial li a {
	float: left;
	color: #454545;
	font-size: 12px;
	width: 23px;
	height: 23px;
	background: #f3f3f3;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
	transition: all 0.3s ease;
}
.top_nav3 .topsocial li a:hover {
	background: #f9f9f9;
}

.top_nav3 .right .smbut {
	background: #1e1e1e;
	border-radius: 3px;
	padding: 3px 9px;
	font-size: 13px;
	color: #fff;
	margin-right: 10px;
	white-space: nowrap;
	transition: all 0.3s ease;
}
.top_nav3 .right .smbut:hover {
	background: #d70204;
}

/* header area adinationals */
.logo {
	float: left;
	width: 25%;
}
.menu_main {
	float: right;
	width: 75%;
	z-index: 9999;
	position: relative;
}

.logo2 {
	float: left;
	width: 100%;
}
.menu_main2 {
	float: left;
	width: 100%;
	z-index: 9999;
	position: relative;
	background: #000;
}

.logo3 {
	float: left;
	width: 100%;
}

.logo4 {
	float: left;
	width: 27.5%;
}
.menu_main4 {
	float: left;
	width: 54.5%;
	z-index: 9999;
	position: relative;
}
.cdetails {
	float: left;
	width: 18%;
	height: 80px;
	padding-top: 12px;
	background: #e73537;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}
.cdetails strong {
	font-size: 22px;
	font-weight: bold;
	display: block;
	margin-top: 1px;
}


.mstslider {
	width: 100%;
	float: left;
}


/*----------------------------------------------------
   FEATURE SECTIONS
------------------------------------------------------*/

/* features section 1 */
.feature_sec1 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 80px 0px 112px 0px;
}
.feature_sec1 h5 {
	margin: 50px 0px 0px 0px;
}
.feature_sec1 h5 strong {
	color: #fff;
	font-size: 23px;
	background: #d70204;
	font-weight: normal;
	padding: 9px 18px;
	height: 44px;
	margin: 0 10px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	white-space: nowrap;
}

.feature_sec1 p{
	font: 16px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 26px;
	color: #000;
}

/* features section 2 */
.feature_sec2 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 0px 0px 0px 0px;
	background: #eee url(../images/texture3.jpg) repeat left top;
}
.feature_sec2 .one_fourth {
	padding: 60px 25px 72px 25px;
	width: 25%;
	margin-right: 0;
	transition: all 0.3s ease;
	border-top: 10px solid #fff;
	margin-top: -10px;
}
.feature_sec2 .one_fourth i {
	width: 110px;
	height: 110px;
	color: #1e1e1e;
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	line-height: 110px;
	background: url(../images/circle1.png) no-repeat center top;
	margin-bottom: 30px;
}
.feature_sec2 .one_fourth:hover,
.feature_sec2 .one_fourth.active {
	background: #f7f7f7;
	border-top: 10px solid #1e1e1e;
}

/* features section 3 */
.feature_sec3 {
	float: left;
	width: 100%;
	padding: 100px 0px 80px 0px;
}
.feature_sec3 i.icon {
	float: left;
	font-size: 40px;
	color: #e3e3e3;
	margin-right: 18px;
	margin-bottom: 6px;
}
.feature_sec3 p {
	color: #727272;
	margin-bottom: 5px;
}
.feature_sec3 #owl-demo2 p {
	color: #727272;
	margin-bottom: 5px;
	width: 90%;
}
.feature_sec3 .hpeosays {
	padding: 0;
}
.feature_sec3 .hpeosays img {
	border: 5px solid #eee;
	float: left;
	margin-right: 20px;
	margin-bottom: 100px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.feature_sec3 .hpeosays p {
	color: #727272;
	margin-bottom: 5px;
}
.feature_sec3 .hpeosays b {
	color: #1e1e1e;
	font-weight: 600;
	margin-top: 22px;
	float: left;
}
.feature_sec3 .hpeosays b em {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.feature_sec3 .divider_line21 {
	width: 90%;
}


/* features section 4 */
.feature_sec4 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 80px 0px;
	background: url("../images/site-fullimg1.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	position:relative;
	box-shadow: 
        inset 0px 8px 5px -7px #eee,
        inset 0px -8px 5px -7px #eee; 
}

.feature_sec4.two {
	background: none;
	box-shadow: none;
	padding-bottom: 45px;
}


/* features section 5 */
.feature_sec5 {
	float: left;
	width: 100%;
	padding: 100px 0px 0px 0px;
}
.scriptfont {
	color: #1e1e1e;
	font-family: 'Dancing Script', cursive;
	font-size: 23px;
	font-weight: normal;
}
.feature_sec5 .caseresult {
	float: left;
	width: 100%;
	padding: 7px 8px;
	background: #eee;
	color: #1e1e1e;
	border-top: 1px solid #e3e3e3;
}
.feature_sec5 .caseresult .inborder {
	float: left;
	width: 100%;
	border: 1px solid #fff;
		padding: 25px 27px 31px 27px;
}

/* features section 6 */
.feature_sec6 {
	float: left;
	width: 100%;
	padding: 90px 0px 100px 0px;
	text-align: center;
	background: #f4f4f4;
}
.feature_sec6 .one_third {
	background: #fff;
	border-radius: 3px;
	text-align: left;
	padding: 15px;
	color: #b9b9b9;
	transition: all 0.3s ease;
}
.feature_sec6 .one_third:hover {
	background: #faa930;
}
.feature_sec6 .one_third img {
	float: left;
	margin-right: 20px;
}
.feature_sec6 .one_third h4 {
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.feature_sec6 .one_third a:hover {
	color: #e3e3e3;
}
.feature_sec6 .one_third p {
	font-size: 13px;
	line-height: 18px;
	margin-top: 5px;
	color: #000;
}

/* features section 7 */
.feature_sec7 {
	float: left;
	width: 100%;
	padding: 100px 0px 100px 0px;
	text-align: center;
}
.feature_sec7 .cirimg {
	width: 190px;
	height: 190px;
	border-radius: 100%;
	border: 5px solid #e1e1e1;
	overflow: hidden;
	margin-bottom: 47px;
	transition: all 0.3s ease;
}
.feature_sec7 .cirimg:hover {
	border: 12px solid #e1e1e1;
}
.feature_sec7 .cinfo {
	float: left;
	width: 100%;
	padding: 0px 0px 45px 0px;
	background: #fff;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border: 1px solid #eee;
	border-top: none;
	font-size: 13px;
	line-height: 18px;
}
.feature_sec7 .cinfo h5 {
	margin-bottom: 3px;
}
.feature_sec7 .cinfo em {
	font-size: 13px;
	font-style: normal;
	color: #999;
}
.feature_sec7 .cinfo .shape1 {
	float: left;
	margin-top: -30px;
	margin-left: -1px;
	margin-bottom: 18px;
}
.feature_sec7 b {
	color: #d70204;
	font-weight: normal;
	display: block;
	margin-top: 20px;
	font-size: 14px;
}
.feature_sec7 a i {
	color: #1e1e1e;
	width: 30px;
	height: 30px;
	background: #eee;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 2px;
	margin-left: 2px;
	transition: all 0.3s ease;
}
.feature_sec7 a i:hover {
	color: #fff;
	background: #d70204;
}

.feature_sec7.two {
	background: #f4f4f4;
}

/* features section 8 */
.feature_sec8 {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
}
.feature_sec8 .left {
	float: left;
	width: 100px;
}
.feature_sec8 .left img {
	float: left;
	width: 100%;
	margin-bottom: 1px;
	transition: all 0.3s ease;
}
.feature_sec8 .left img:hover {
	float: left;
	opacity: 0.7;
}
.feature_sec8 .date {
	float: left;
	width: 100%;
	padding: 10px 0px 8px 0px;
	text-align: center;
	background: #1e1e1e;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.feature_sec8 .date a {
	color: #fff;
}
.feature_sec8 .date:hover {
	background: #d70204;
}
.feature_sec8 .date strong {
	font-size: 27px;
	font-weight: 600;
}
.feature_sec8 .comment {
	float: left;
	width: 100%;
	padding: 7px 0px 6px 0px;
	text-align: center;
	background: #f9f9f9;
	color: #999;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.feature_sec8 .comment a {
	color: #999;
}
.feature_sec8 .comment:hover {
	color: #fff;
	background: #fff;
}

.feature_sec8 .right {
	float: left;
	width: 82.2%;
	padding: 40px 40px 45px 40px;
	background: #f3f3f3;
}
.feature_sec8 .videofra {
	float: left;
	width: 100%;
	height: 338px;
}

/* features section 9 */
.feature_sec9 {
	float: left;
	width: 100%;
	padding: 100px 0px 0px 0px;
	text-align: center;
	background: #1e1e1e url(../images/texture1.jpg) repeat left top;
	color: #fff;
}
.feature_sec9 .sky-form strong {
	color: #999;
	font-weight: normal;
}
.cforms {
	width: 99%;
	margin-top: -15px;
	padding-bottom: 35px;
}
.feature_sec9 .transpef {
	background: url(../images/fade1.png) no-repeat center bottom;
}

/* features section 10 */
.feature_sec10 {
	float: left;
	width: 100%;
	padding: 75px 0px 64px 0px;
	text-align: left;
	/*background: #eee url(../images/texture2.png) repeat left top;*/
}
.feature_sec10 img {
	width: 100%;
	margin-left: 5px;
	border: 7px solid #fff;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

/* features section 11 */
.feature_sec11 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 120px 0px 100px 0px;
	/*background: url("../images/site-fullimg2.jpg");*/
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	position:relative;
}
.feature_sec11 h1 {
	line-height: 57px;
}

/* features section 12 */
.feature_sec12 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 75px 0px 80px 0px;
}
.feature_sec12 i {
	font-size: 40px;
	color: #d70204;
	margin-bottom: 16px;
}
.feature_sec12 h5 {
	margin-bottom: 5px;
}

/* features section 13 */
.feature_sec13 {
	float: left;
	width: 100%;
	padding: 75px 0px 80px 0px;
	background: #eee;
}
.feature_sec13 .peoplesays {
	float: left;
	width: 100%;
	padding: 27px 40px 35px 40px;
	background: #fff;
	border-radius: 3px;
	font-size: 16px;
	line-height: 25px;
}
.feature_sec13 .peoimg {
	float: left;
	width: 100%;
	background: url(../images/aroow4.png) no-repeat 30px top;
}
.feature_sec13 .peoimg img {
	float: left;
	width: 58px;
	height: 58px;
	margin-left: 70px;
	margin-top: 12px;
	border-radius: 100%;
}
.feature_sec13 .peoimg strong {
	float: left;
	color: #1e1e1e;
	margin-top: 27px;
	margin-left: 10px;
}
.feature_sec13 .videofra {
	float: left;
	width: 100%;
	height: 265px;
}

/* features section 14 */
.feature_sec14 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 75px 0px 70px 0px;
}

/* features section 15 */
.feature_sec15 {
	float: left;
	width: 100%;
	padding: 80px 0px 80px 0px;
}
.feature_sec15 .one_third {
	background: #1e1e1e;
	text-align: center;
	transition: all 0.3s ease;
}
.feature_sec15 .one_third img:hover {
	opacity: 0.9;

}
.feature_sec15 .one_third img {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
	transition: all 0.3s ease;
}
.feature_sec15 .one_third h5 {
	color: #fff;
	margin-bottom: 3px;
}
.feature_sec15 .one_third h6 {
	color: #999;
	font-size: 14px;
	margin-bottom: 25px;
}
.feature_sec15 .one_third a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	background: #d70204;
	padding: 7px 18px;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.feature_sec15 .one_third a:hover {
	background: #454545;
}

/* features section 16 */
.feature_sec16 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 80px 0px 80px 0px;
}
.feature_sec16 .attbox {
	float: left;
	width: 100%;
	height: 320px;
	background: #fff;
	border: 1px solid #eee;
	margin-top: 80px;
}
.feature_sec16 .attbox .box {
	float: left;
	width: 100.8%;
	height: 320px;
	background: #fff;
	border: 1px solid #eee;
	margin-left: -3px;
	margin-top: -3px;
	transition: all 0.3s ease;
}
.feature_sec16 .attbox .box:hover {
	background: #f7f7f7;
}
.feature_sec16 .cirimg {
	width: 160px;
	height: 160px;
	border-radius: 100%;
	border: 5px solid #eee;
	overflow: hidden;
	margin-bottom: 14px;
	transition: all 0.3s ease;
	margin-top: -80px;
	background: #fff;
}
.feature_sec16 .cirimg:hover {
	border: 10px double #eee;
}
.feature_sec16 .attbox h5 {
	margin-bottom: 0px;
}
.feature_sec16 .attbox em {
	font-size: 13px;
	color: #1e1e1e;
}
.feature_sec16 .attbox p {
	font-size: 13px;
	width: 80%;
	margin: 14px auto 28px auto;
}

/* features section 17 */
.feature_sec17 {
	float: left;
	width: 100%;
	padding: 80px 0px 80px 0px;
}
.feature_sec17 .box {
	float: left;
	width: 100%;
	background: #1e1e1e;
}
.feature_sec17 .box img {
	float: left;
	width: 45%;
	transition: all 0.3s ease;
}
.feature_sec17 .box img:hover {
	opacity: 0.9;
}
.feature_sec17 .box .carea {
	float: right;
	width: 50%;
	padding: 30px 0px 0px 0px;
}
.feature_sec17 .box .carea h5 {
	color: #fff;
	margin-bottom: 0px;
	line-height: 20px;
}
.feature_sec17 .box .carea em {
	font-size: 12px;
	color: #fff;
}
.feature_sec17 .box .carea p {
	margin-top: 5px;
	margin-bottom: 27px;
}

/* features section 18 */
.feature_sec18 {
	float: left;
	width: 100%;
	text-align: left;
	padding: 130px 0px 100px 0px;
	background: #e3e3e3 url("../images/site-fullimg9.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
/*	background-size: cover;*/
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	
	border-top: 8px solid #999;
	border-bottom: 8px solid #999;
	
}
.feature_sec18 .box {
	float: left;
	width: 47%;
	padding: 50px 40px 70px 40px;
	background: rgba(0, 0, 0, 0.7);
}
.feature_sec18 .box h1 {
	color: #d70204;
	font-size: 58px;
	text-transform: uppercase;
	margin: 0px;
	font-weight: bold;
}
.feature_sec18 .box h3 {
	color: #fff;
	text-transform: uppercase;
	margin: 5px 0px 3px 0px;
}
.feature_sec18 .box h5 {
	color: #999;
	text-transform: uppercase;
	margin: 0px;
}
.feature_sec18 .box p {
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	margin-top: 25px;
}

/* features section 19 */
.feature_sec19 {
	float: left;
	width: 100%;
	padding: 35px 0px;
	background: #f9f9f9;
	border-top: 1px solid #f3f3f3;
}
.feature_sec19 ul {
	width: 95%;
	padding: 0px;
	margin: 0 auto;
}
.feature_sec19 li {
	float: left;
	width: 20%;
	text-align: center;
	padding: 0px;
	margin: 0;
}





/* FOOTER STYLES */
.footer {
	float: left;
	width: 100%;
	background: #000;
	padding: 50px 0px;
}
.footer h5 {
	color: #fff;
	margin-bottom: 3px;
}
.footer h6 {
	color: #999;
	font-size: 14px;
	margin-bottom: 12px;
}
.footer h3 {
	color: #fff;
	margin-bottom: 0px;
}
.footer .left {
	float: left;
	width: 28%;
	border-right: 2px solid #181818;
}
.footer .center {
	float: left;
	width: 27%;
	margin-left: 6%;
	border-right: 2px solid #181818;
}
.footer .right {
	float: left;
	width: 33%;
	margin-left: 6%;
}
.footer .right a {
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
}
.footer .right a:hover {
	color: #e3e3e3;
	text-decoration: none;
}


.footer2 {
    float: left;
    width: 100%;
    padding: 0px 0px;
}

.footer2 .footersecs {
    float: left;
    width: 100%;
    color: #999;
    background: #1e1e1e url(../images/texture1.jpg) repeat left top;
    padding-top: 28px;
    padding-bottom: 20px;
}
.copyrights {
	float: left;
	width: 100%;
	padding: 27px 0px 23px 0px;
	background: #181818;
	font-size: 12px;
}
.copyrights .one_half.last {
	text-align: right;
}
.copyrights a {
	color: #727272;
	transition: all 0.3s ease;
}
.copyrights a:hover {
	color: #999;
}

/* FOOTER STYLES TWO */
.footer2 {
	float: left;
	width: 100%;
	padding: 0px 0px;
}
.footer2 .fgraph {
	float: left;
	width: 100%;
	height: 18px;
	margin-top: -18px;
	text-align: center;
	background: url(../images/graph1.png) no-repeat center top;
}
.footer2 .fotcols {
	float: left;
	width: 100%;
	padding: 30px 0px;
	background: #d70204;
}
.footer2 .fotcols h5 {
	color: #fff;
	margin-bottom: 3px;
}
.footer2 .fotcols h5 em {
	font-size: 14px;
	font-style: normal;
}
.footer2 .fotcols h3 {
	color: #fff;
	margin-bottom: 0px;
}
.footer2 .left {
	float: left;
	width: 33%;
	border-right: 1px solid #ac0203;
}
.footer2 .center {
	float: left;
	width: 33%;
	text-align: center;
	border-right: 1px solid #ac0203;
}
.footer2 .center a:hover {
	color: #1e1e1e;
}
.footer2 .right {
	float: left;
	width: 30%;
	margin-left: 4%;
}
.signupnews {
	float: left;
}
#signupnewsle #m{
	width: 235px;
	height: 35px;
	border: 0px solid #fff;
	padding:0px 5px 0px 7px;
	color: #fff;
	font-size: 13px;
	float: left;
	background: #bd0204;
	border-radius: 3px;
	margin-right: 5px;
}
#signupnewsle #newssubmit{
	color: #fff;
	float: right;
	width:80px;
	height:35px;
	cursor:pointer;
	overflow:hidden;
	background: #1e1e1e;
	border:0;
	border-radius: 3px;
	transition: all 0.3s ease;
}
#signupnewsle #newssubmit:hover{
	color: #1e1e1e;
	background: #fff;
}

.footer2 .footersecs {
	float: left;
	width: 100%;
	color: #999;
	background: #1e1e1e url(../images/texture1.jpg) repeat left top;
}
.footer2 .transpef {
	padding: 63px 0px 58px 0px;
	background: url(../images/fade1.png) no-repeat center bottom;
}
.footer2 .footersecs h3 {
	margin-bottom: 14px;
}
.footer2 ul.address {
	padding: 0px;
	margin: 0px;
}
.footer2 .address li {
	padding: 0px;
	margin: 0px;
	line-height: 27px;
}
.footer2 .address li i {
	padding: 0px;
	margin: 0px 5px 0px 0px;
}

.footer2 ul.uselinks {
	float: left;
	padding: 0px;
	margin: 4px 0px 0px 0px;
}
.footer2 .uselinks li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
}
.footer2 .uselinks li i {
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.footer2 .uselinks li a {
	color: #999;
	transition: all 0.3s ease;
}
.footer2 .uselinks li a:hover {
	color: #fff;
}

.footer2 ul.tweets {
	float: left;
	padding: 0px;
	margin: 7px 0px 0px 0px;
}
.footer2 .tweets li {
	padding: 0px;
	margin: 0px;
	float: left;
}
.footer2 .tweets li.bhline {
	padding-bottom: 22px;
	margin-bottom: 20px;
	border-bottom: 1px solid #3d3d3d;
}
.footer2 .tweets li a {
	color: #999;
	transition: all 0.3s ease;
}
.footer2 .tweets li a:hover {
	color: #fff;
}
.footer2 .tweets li i {
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.footer2 .tweets li em {
	float: left;
	font-size: 10px;
	font-style: normal;
	color: #727272;
}
.footer2 .tweets li em a {
	color: #727272;
	transition: all 0.3s ease;
}
.footer2 .tweets li em a:hover {
	color: #727272;
	text-decoration: underline;
}

/* flickr */
#flickr_badge_wrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#flickr_badge_wrapper img {
	width: 70px;
	height: 60px;
	margin-right: 8px;
	margin-bottom: 2px;
	border: 0px solid #999 !important;
}
#flickr_www {
	display:block;
	padding:0 10px 0 10px !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	text-decoration:none !important;
	background:inherit !important;
	color:#3993ff;
}
#flickr_badge_wrapper {
	margin-top: 25px;
}
#flickr_badge_source {
	padding:0 !important;
}

.copyrights.two {
	background: #000;
	padding: 25px 0px 23px 0px;
}


/* page titles */
.page_title {
	float: left;
	width: 100%;
	height: 400px;
	background: #000 url(../images/site-img28.jpg) no-repeat center top;
}
.page_title.two {
	float: left;
	width: 100%;
	height: 400px;
	background: #000 url(../images/site-fullimg8.jpg) no-repeat center top;
}
.page_title h1 {
	float: left;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
	padding: 0px 70px 0px 40px;
	color: #fff;
	margin-top: 320px;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	background: rgba(215, 2, 4, 0.9) url(../images/aroow3.png) no-repeat right 40px;
}

.page_title2 {
	float: left;
	width: 100%;
	padding: 40px 0px;
	background: #eee url(../images/site-fullimg3.png) no-repeat center top;
}
.page_title2 h1 {
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0px;
}
.page_title2 .pagenation {
	float: right;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	color: #1e1e1e;
	margin: 10px 0px 0px 0px;
}
.page_title2 .pagenation i {
	color: #727272;
	margin: 0px 2px 0px 2px;
}
.page_title2 .pagenation a {
	padding: 0px;
	color: #727272;
}
.page_title2 .pagenation a:hover {
	color: #999;
}

/* full info of bio page */
.full_biohead {
	float: left;
	width: 100%;
	min-height: 400px;
	text-align: left;
	background: url(../images/site-fullimg4.jpg) no-repeat center top;
}
.full_biohead img {
	float: left;
	margin-top: 50px;
	margin-right: 48px;
	border-bottom: 1px solid #c3c3c3;
}
.full_biohead h3 {
	color: #fff;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 3px;
}
.full_biohead h6 {
	color: #999;
	margin-bottom: 0px;
}
.full_biohead ul.ctdet {
	padding: 0px;
	margin: 20px 0px 45px 0px;
}
.full_biohead .ctdet li {
	padding: 0px;
	margin: 7px 0px;
	font-size: 16px;
	color: #fff;
}
.full_biohead .ctdet li i {
	margin-right: 7px;
}
.full_biohead .ctdet li a {
	color: #fff;
	transition: all 0.3s ease;
}
.full_biohead .ctdet li a:hover {
	color: #d70204;
}
.full_biohead ul.csocial {
	padding: 0px;
	margin: 35px 0px 0px 0px;
}
.full_biohead .csocial li {
	padding: 0px;
	margin: 0px 5px 0px 0px;
	float: left;
}
.full_biohead .csocial li a {
	float: left;
	width: 28px;
	height: 28px;
	background: #444;
	border-radius: 100%;
	color: #eee;
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
	transition: all 0.3s ease;
}
.full_biohead .csocial li a:hover {
	background: #727272;
}

/*----------------------------------------------------
   PARALLAX SECTIONS
------------------------------------------------------*/

/* parallax section 1 */
.parallax_section1 {
	float: left;
	width: 100%;
	text-align: left;
	padding: 70px 0px;
	background: #1e1e1e url("../images/site-fullimg6.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}

/* parallax section 2 */
.parallax_section2 {
	float: left;
	width: 100%;
	text-align: left;
	padding: 70px 0px;
	background: #1e1e1e url("../images/site-fullimg5.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}

/* parallax section 3 */
.parallax_section3 {
	float: left;
	width: 100%;
	text-align: left;
	padding: 80px 0px;
	background: #1e1e1e url("../images/site-fullimg7.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}


/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	text-align: left;
	color: #333;
	line-height: 30px;
	display: block;
}
.blog_post h3 a {
	color: #d70204;
	text-decoration: none;
	margin-top: 3px;
	text-transform: none;
	font-weight: 400;
	font-size: 30px;
}
.blog_post h3 a:hover {
	color: #383634;
}
ul.post_meta_links {
	float: left;
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li a {
	color: #999;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.post_meta_links li i {
	color: #bbb;
	font-size: 12px;
	font-style: normal;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 100%;
	margin-bottom: 27px;
}

.blog_postcontent .image_frame.mone {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mtwo {
	float: left;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mthree {
	float: left;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mone img,
.blog_postcontent .image_frame.mtwo img,
.blog_postcontent .image_frame.mthree img {
	float: left;
	width: auto;
	margin-left: -45%;
	margin-top: -10%;
}


.blog_postcontent .video_frame.mtwo iframe {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}


.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 100%;
}
.blog_postcontent .video_frame.small iframe {
	height: 250px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 100%;
	height: 520px;
	margin-bottom: 27px;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	color: #454545;
	font-size: 16px;
	font-weight: normal;
}
.blog_post a.date:hover {
	color: #d70204;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 40px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px 7px 5px 0px;
	padding: 2px 5px;
	float: left;
	border-radius: 2px;
	list-style-type: none;
	background-color: #d70204;
	transition: all 0.3s ease;
}
.sharepost li i {
	color: #fff;
}
.sharepost li:hover {
	background-color: #383634;
}

.about_author {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #d70204;
}


/* pagination */
.pagination.center {
	text-align: center;
}
.pagination.center b{
	float: inherit;
}
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}


/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* comment form */
.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 40px;
	font-weight: normal;
}
.comment_input_bg {
	float: left;
	width: 75%;
	height: 40px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
	text-transform: uppercase;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}

/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}

.address_info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 99%;
	margin-bottom: 40px;
}
.address_info.two {
	background-color: #fff;
	border: none;
	padding-top: 0px;
}
.address_info h3 i {
	font-weight: 500;
	font-style: normal;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.google-map2 {
	width: 100%;
	height: 450px;
}
.google-map3 {
	width: 100%;
	height: 300px;
	border: 10px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.google-map4 {
	width: 100%;
	height: 200px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

/* sidebar widgets */
.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1{
	padding: 0px;
	margin: 0px;
	float: left;
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a {
	color: #d70204;
	line-height: 30px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #272727;
}
.sidebar_widget ul.arrows_list1 i {
	margin-right: 4px;
}
.sidebar_title {
	float: left;
	width: 100%;
}
.sidebar_widget h4, .clientsays_widget h4 {
	margin-bottom: 30px;
	float: left;
	font-weight: 300;
}
.sidebar_widget h4 i, .clientsays_widget h4 i {
	font-weight: 500;
	font-style: normal;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 13px 0px;
	margin: 0px 0px 16px 0px;
	list-style-type: none;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 17px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #d70204;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* client says widget */
.clientsays_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #999;
}
.clientsays_widget strong {
	font-weight: 600;
	color: #454545;
}
.clientsays_widget h3 {
	margin-bottom: 18px;
}
.clientsays_widget img {
	float: left;
	margin-right: 13px;
	margin-top: 7px;
}


/* portfolio widget */
.portfolio_widget {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.portfolio_widget .box {
	float: left;
	width: 100%;
}
.portfolio_widget .box strong {
	font-size: 16px;
	color: #181818;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
	margin-top: 25px;
}
.portfolio_widget .box strong a {
	color: #181818;
}
.portfolio_widget .box strong a:hover {
	color: #2191ed;
}
.portfolio_widget .box i {
	font-size: 22px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: middle;
	line-height: 58px;
	margin-top: 26%;
}


/* 404 Error Page */
.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 59%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
	font-weight: normal;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #f9f9f9;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	line-height: 59px;
	color: #d70204;
	margin: 0;
	font-style: normal;
}


.menuimg {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	margin-top: 9px;
	border: 5px solid #e9e9e9;
}


/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 999;
}


.punch_text03 {
    float: left;
    width: 100%;
    padding: 0x 0px 0px 0px;
    background-color: #f9a049;
}

.punch_text03 .left {
    float: left;
    width: 72%;
}

.punch_text03 .right {
    float: right;
    width: 26%;
    min-height: 120px;
    background: url(../images/h-line.png) no-repeat left bottom;
}

.punch_text03 .left h1 {
    font-size: 31px;
    font-weight: 300;
    color: #fff;
    margin: 50px 0px 0px 0px;
}

.punch_text03 .right a {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    padding: 18px 30px;
    margin: 43px 0px 0px 50px;
}

.punch_text03 .left h1 em {
    font-size: 18px;
    color: #ff7b29;
    font-style: normal;
    display: block;
}

