.ms-skin-default .ms-timerbar {top: 1px; bottom:auto;}
.ms-skin-default .ms-time-bar {
  height: 3px;
  background:white;
  background: rgba(255, 255, 255, 0.6);
  border-top: none;
}

.ms-layer {
  margin: 0;
  padding: 0;
  line-height: 100%;
  letter-spacing:0;
}

.ms-layer.text1 {
	color: #fff;
	font-size: 90px;
	line-height: 75px;
	font-family: 'Droid Serif', serif;
	font-weight: bold;/*
	text-transform: uppercase;*/
}
.ms-layer.text1.small {
	font-size: 72px;
	line-height: 65px;
}
.ms-layer.text1.smalldark {
	font-size: 80px;
	line-height: 67px;
	color: #1e1e1e;
}
.ms-layer.text1.center {
	text-align: center;
}

.ms-layer.text2 {
	color: #fff;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	padding: 23px 25px;
	background: rgba(0, 0, 0, 0.75);
}


.ms-layer.sldbut1 a {
	font-family: 'Droid Serif', serif;
/*	background-color: rgba(215, 2, 4, 0.8);*/
	padding: 13px 40px;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease;
}
.ms-layer.sldbut1 a:hover {
	background-color: #fff;
	color: #d70204;
}

.ms-layer.video-box.two {
	border: 5px solid #fff;
}

.slide-1 .hps-title1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.slide-1 .hps-title2 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  color: #508295;
}

.slide-2 .hps-title1 {
  font-weight: 300;
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  background-color: #f65256;
  padding: 6px 9px;
}
.slide-2 .hps-title2 {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  background: white;
  padding: 11px 12px;
}

.slide-3 .hps-title1 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  font-size: 46px;
}
.slide-3 .hps-title2 {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}
.slide-3 .hps-amp {
  font-weight: 100;
  font-size: 78px;
  color: #7C96BD;
}
.slide-3 .hps-title3 {
  color: white;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 12px;
  background-color: #dd0d14;
}
.slide-3 .hps-title4 {
  color: white;
  background-color: black;
  font-size: 37px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 14px;
}

.ms-tooltip{
  max-width: 250px !important;
}

.ms-tooltip .product-tt {
    font-size: 1em;
    padding:5px;
    color:#222;
    text-shadow:none;
}

.ms-tooltip .product-tt h3 {
  font-size: 1.4em;
  color: #222;
  margin: 0 0 5px 0;
  font-weight: 400;
}


.slide-4 .hps-title1 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  color: #222;
}

.slide-5 .hps-title1, .slide-5 .hps-title2 {
  color: white;
  text-transform: uppercase;
  font-size: 2.6em;
  font-weight: 300;
  text-shadow: 0 1px black;
}
.slide-5 .hps-title3 {
  background-color: #61c6d7;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 400;
  color: black;
  text-shadow: 0 1px white;
  padding: 13px;
}
.slide-5 .hps-text1 {
  color: white;
  text-shadow: 0 1px black;
  width: 30%;
  line-height: 19px;
  font-size: 14px;
}

.slide-6 .hps-title1 {
  color: #222;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3em;
  line-height: 26px;
  text-shadow: 0 1px white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 17px 23px;
}
.slide-6 .hps-title1 > .sub-title {
  font-weight: 300;
  font-size: 0.7em;
}
.slide-6 .hps-title2 {
  color: white;
  text-shadow: 0 1px black;
  background-color: #222;
  font-weight: 400;
  font-size: 1em;
  padding: 10px 25px;
}
.slide-6 .hps-title3 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  text-shadow: 0 1px black;
  font-size: 1.2em;
  padding: 18px 25px;
  background-color: #df192a;
}
.slide-6 .hps-title3-vimeo {
  background-color: #1bb6ec;
  padding: 17px 25px;
}

.slide-7 .hps-title1 {
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 60px;
  text-shadow: 0 1px black;
}
.slide-7 .hps-title2 {
  text-transform: uppercase;
  color: #f74e50;
  text-shadow: 0 1px black;
  font-size: 21px;
  letter-spacing: 0.76em;
  font-weight: 900;
}
.slide-7 .hps-title3 {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px black;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 14px 81px;
  font-size: 14px;
  font-weight: 400;
}

.slide-video{
	color:#222;
	text-shadow:0 1px white;
}

.slide-video .hps-vicapton-box {
    width: 48%;
    height: 24%;
    background: rgba(255, 255, 255, 0.6);
}

.slide-video .hps-hd {
    font-weight: 900;
    font-size: 130px;
}

.slide-video .hps-videotitle {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

.slide-video .hps-videotext {
    width: 29%;
    line-height: 22px;
}

/*----------------------------------------*/

.hrow{
  position: relative;
  min-height: 253px;
}

.hrow.row-title {
    height: 195px;
    min-height:0;
    background-color: #eee;
    text-align: center;
}
.row-arrow {
    position: absolute;
    height: 10px;
    border-left: solid 18px rgba(0, 0, 0, 0);
    border-right: solid 18px rgba(0, 0, 0, 0);
    border-top: solid 20px #EEE;
    top: 0;
    left: 50%;
    margin-left: -18px;
}
.row-title h2 {
    margin-top: 84px;
    padding: 0 15px 25px;  font-weight: 400;  letter-spacing: 0.1em;  color: #4F2840;  
    display: inline-block;
    text-shadow: 0 1px 0px #FFF;
    font-size: 1.15em;  text-transform: uppercase;  
    background: url("../../../../../../../www.masterslider.com/wp-content/uploads/home-title-arrow.html") no-repeat center 32px;
}

.hrow.white-hrow {
    background: #Fbfbfb;
}

.hrow.gray-hrow {
    background: #eee;
}

.hrow.gray-hrow .row-content {
text-shadow: 0 1px 0 #FFF;
}

.hrow .row-content {
    padding: 70px 60px 0 550px;
}

.hrow .feature-img {
    position: absolute;
    bottom: 0;
    margin:0;
}

.hrow .row-content>p {
  margin:0px;
  padding-bottom: 20px;
}

.hrow .row-content>h3 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0;
    font-size: 2.3em;
    color: #333;
}

.hrow.gray-hrow .row-content {
    padding: 70px 550px 0 80px;
}

.hrow.gray-hrow .feature-img {
  right:0;
}

.hrow.fe-transitions .row-content {
    padding-left: 585px;
}

@media only screen and (max-width: 1199px){
  .row-content {
   	  padding-top: 50px !important;
  }
  
  .hrow .row-content>h3 {
   	 font-size: 1.5em;
   	}
}


@media only screen and (max-width: 990px){
  .hrow.fe-transitions .row-content,
  .hrow.fe-flickr .row-content {
    		padding-top: 40px !important;
  }
}

@media only screen and (max-width: 960px){
  
  
  .hrow{
    min-height: 197px !important;
  }
  
  .hrow.row-title {
      height: 120px  !important;
      min-height: 0px !important;
  }
  
  .row-title h2 {
      margin-top: 40px;
  }
  
  .hrow .feature-img {
    width:40%;
  }
  .hrow.gray-hrow .row-content {
   	  padding-right: 45%;
   	  padding-left: 50px;
  }
  .hrow.white-hrow .row-content {
   	  padding-left: 45%;
   	  padding-right: 50px;
  }
  
}

@media only screen and (max-width: 650px){

  
  .hrow .feature-img {
    width:90%;
    position:relative;
    float:none !important;
    display: block;
  }
  
  .hrow .row-content {
    padding-right: 30px !important;
   	  padding-left: 30px !important;
   	  text-align:center;
  }
  
  .hrow.gray-hrow .feature-img {
    margin-left:10%;
  }
  .hrow.white-hrow .feature-img {
    margin-right:10%;
  }
  

}




@media only screen and (min-width: 1000px) and (max-width: 1169px){

.ms-layer.sldbut1 a {
	padding: 10px 16px;
	font-size: 14px;
}


}
	
@media only screen and (min-width: 768px) and (max-width: 999px){

.ms-layer.sldbut1 a {
	padding: 7px 12px;
	font-size: 11px;
}


}


@media only screen and (min-width: 480px) and (max-width: 767px){
	
.ms-layer.sldbut1 a {
	padding: 5px 10px;
	font-size: 10px;
}



}

@media only screen and (max-width: 479px){
	
.ms-layer.sldbut1 a {
	padding: 3px 7px;
	font-size: 8px;
}


}





/**
 *  Master Slider
 *  Default Skin
 */

.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{
	width: 50px;
	height: 51px;
	background: url(light-skin-1.png) no-repeat -14px -150px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}

.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	background: url(light-skin-1.png) no-repeat -24px -28px;
	top: 18px;
	right: 30px;
}

/* controls */

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url(light-skin-1.png);
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 110;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}



.ms-skin-default .ms-bullet {
	width: 10px;
	height: 10px;
	background: url(light-skin-1.png) no-repeat;
	margin: 4px;
	background-position: -34px -117px;
}

.ms-skin-default .ms-bullet-selected {
	background-position: -34px -84px;
}


.ms-skin-default .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
	border-top: solid 1px rgba(0, 0, 0, 0.41);
}


.ms-skin-default .ms-tooltip{
	position: absolute;
	z-index: 210;
	cursor: auto;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow{
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow{
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(240, 240, 240, 0.88);
	bottom: -10px;
}

.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(240, 240, 240, 0.88);
	top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow{
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow{
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(240, 240, 240, 0.88);
	left: -10px;
}

.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 10px;
	border-left-color: silver;
	border-left-color: rgba(240, 240, 240, 0.88);
	right: -10px;
}

.ms-skin-default .ms-tooltip-point {cursor: pointer;}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px; 
	border-radius: 15px;
	border: solid 2px #BBB;
	background: white;
	margin: -8px 0 0 -8px;
	position: absolute;
	z-index: 105;
}

.ms-skin-default .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px; 
	background: black;
	background:rgba(0, 0, 0, 0.36);
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	
	animation: point-anim 1.5s infinite ;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}

.ms-skin-default .ms-tooltip {
	max-width:200px;
}

.ms-skin-default .ms-tooltip-cont {
	padding: 10px;
	background: silver;
	background: rgba(240, 240, 240, 0.88);
	text-shadow: 0 1px 0px white;
	margin-left: -1px;
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	.ms-skin-default .ms-slide .ms-slide-vpbtn,
	.ms-skin-default .ms-video-btn,
	.ms-skin-default .ms-slide .ms-slide-vcbtn,
	.ms-skin-default .ms-nav-next,
	.ms-skin-default .ms-nav-prev,
	.ms-skin-default .ms-bullet{
		background-image:url(light-skin-1-retina.png);
		background-size: 152px 225px;
	}
	
}