    #style-selector {
        position: fixed;
        top: 90px;
        left: 0;
        z-index: 9999;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.4);
		box-shadow:0px 0px 4px rgba(0, 0, 0, 0.4);
		
    }
    .style-selector-wrapper {
        position: relative;
        z-index: 9999;
        display: inline-block;
        background: #fff;
    }
    .style-selector-wrapper > div {
        margin: 0px 20px 10px 20px;
    }
    #style-selector a.close {
        position: absolute;
        top: 0px;
        right: -46px;
        width: 46px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #272727 url(colors-swi.png) no-repeat 8px 5px;
        border-radius: 0px;
		font-size: 1px;
		color: #454545;
    }
    #style-selector a.active {
        box-shadow: 0 0 0 2px #000;
    }
    #style-selector .title {
        height: 40px;
		width: 100%;
		float: left;
		display: block;
        background: #e9e9e9;
        text-align: center;
        font-size: 14px;
		font-weight: bold;
        line-height: 40px;
		color: #272727;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		
    }
    #style-selector .title-sub {
        margin-top: 50px;
        margin-bottom: 0px;
		margin-left: 7px;
		display: block;
        color: #fff;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
	#style-selector .title-sub2 {
        margin-top: 22px;
        margin-bottom: 0px;
		margin-left: 0px;
		display: block;
        color: #454545;
        text-align: left;
        font-weight: bold;
        font-size: 13px;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    #style-selector ul {
        width: 180px;
		margin: 0px 0px 0px 0px;
		padding: 7px 0 20px 0;
		border-bottom: 1px solid #e0e0e0;
    }
    #style-selector .styles {
        overflow: hidden;
        margin: 0px 0px 0px 0px;
    }
    #style-selector .styles li {
        float: left;
		margin: 2px;
		padding: 0;
		color: #fff;
    }
    #style-selector .styles li a {
        display: block;
        cursor: pointer;
		color: #fff;
    }
    .layout select {
        margin: 0 3px;
        width: 100%;
        font-size: 12px;
    }
    .bg-image img {
        width: auto;
        height: 100%;
    }

	#style-selector .menu-fswitcher {
        margin-left: 0px;
		margin-top: 4px;
    }
	#style-selector .menu-fswitcher select {
		color: #fff;
        width:175px;
		padding: 5px 4px;
		border: 1px solid #575757;
		background-color: #575757;
    }


#style-selector .styles.demos li a {
	text-align: center;
	width: 50px;
	height: 27px;
	font-size: 11px;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 27px;
	vertical-align: middle;
	background-color: #454545;
}
#style-selector .styles.demos li a:hover {
	background-color: #13afeb;
}
#style-selector .styles.demos li a:active {
	background-color: #13afeb;
}



/* ----------- Colors ----------- */

.pre-color-skin1{
	width:40px;
	height:35px;
	background-color: #d70204;
	float: left;
	cursor: pointer;
}
.pre-color-skin2{
	width:40px;
	height:35px;
	background-color: #3183d7;
	float: left;
	cursor: pointer;
}
.pre-color-skin3{
	width:40px;
	height:35px;
	background-color: #3fc35f;
	float: left;
	cursor: pointer;
}
.pre-color-skin4{
	width:40px;
	height:35px;
	background-color: #35d3b7;
	float: left;
	cursor: pointer;
}
.pre-color-skin5{
	width:40px;
	height:35px;
	background-color: #ff6e41;
	float: left;
	cursor: pointer;
}
.pre-color-skin6{
	width:40px;
	height:35px;
	background-color: #37c6f5;
	float: left;
	cursor: pointer;
}
.pre-color-skin7{
	width:40px;
	height:35px;
	background-color: #fa3aab;
	float: left;
	cursor: pointer;
}
.pre-color-skin8{
	width:40px;
	height:35px;
	background-color: #c762cb;
	float: left;
	cursor: pointer;
}
.pre-color-skin9{
	width:40px;
	height:35px;
	background-color: #a5d549;
	float: left;
	cursor: pointer;
}
.pre-color-skin10{
	width:40px;
	height:35px;
	background-color: #6b798f;
	float: left;
	cursor: pointer;
}
.pre-color-skin11{
	width:40px;
	height:35px;
	background-color: #f2d438;
	float: left;
	cursor: pointer;
}
.pre-color-skin12{
	width:40px;
	height:35px;
	background-color: #970001;
	float: left;
	cursor: pointer;
}


/* ----------- BG Patterns ----------- */


.bg-default{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/bg.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns1{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/bg.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns2{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern2.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns3{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern3.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns4{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern4.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns5{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern5.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns6{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern6.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns7{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern7.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns8{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern8.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns9{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern9.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns10{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern10.png) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns11{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern11.png) no-repeat center top;
	float: left;
	cursor: pointer;
}

.bg-patterns12{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern-small-img1.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns13{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern-small-img2.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns14{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern-small-img3.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}
.bg-patterns15{
	width:40px;
	height:35px;
	background: #eee url(../../images/elements/pattern-small-img4.jpg) no-repeat center top;
	float: left;
	cursor: pointer;
}


#style-selector .styles-noborder {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}
#style-selector .styles-noborder li {
	float: left;
	margin: 0px 0px;
	padding: 0;
	color: #ddd;
}
#style-selector .styles-noborder li.left {
	float: left;
	width: 80px;
	line-height: 14px;
}
#style-selector .styles-noborder li.left em {
	font-style: normal;
	line-height: 18px;
	display: block;
	margin-top: 7px;
}
#style-selector .styles-noborder li.left em a {
	color: #b3b3b3;
	font-size: 11px;
}
#style-selector .styles-noborder li.left em a:hover {
	color: #fff;
}

#style-selector .styles-noborder li img {
	float: left;
	width: 100px;
	height: 70px;
}
	
	
	
	
	
	